.block-card-answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  padding: 30px 25px;
  box-sizing: border-box;

  box-shadow: 0 0 0 1px transparent;

  opacity: 0;
  .rotateX(180deg);
  .transition(all ease .3s);

  @media (min-width: 820px) {
    padding: 80px 70px;

  }

  &__icons {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
    &__rights {
      display: inline-block;
      vertical-align: middle;
      margin-right: 2px;
      &__icon {
        width: 44px;
        height: 44px;

        box-sizing: border-box;
        background: #2b1f1f;
        border: 1px solid #ffffff;
        box-shadow: 0 0 0 3px #2b1f1f;

        border-radius: 40px;
        display: inline-block;
        vertical-align: middle;

        position: relative;

        margin: 3px (12px+6px) 3px 0;
        &__img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;

          max-width: 20px;
          max-height: 20px;

        }
      }
    }

    &__result {
      display: inline-block;
      vertical-align: middle;

      &__img {
        vertical-align: middle;
      }
    }
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100%;
    z-index: 0;

    &__img {
      max-height: 546px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

  }
  &__desc {
    position: relative;
    z-index: 1;
    @media (min-width: 820px) {
      width: 310px;
    }
    &__text {
      font-size: 12px;
      .lato();
      color: rgb(53, 39, 39);
      font-weight: 700;
      line-height: 1.476;
      margin-bottom: 6px;
    }
  }

  .show-answer & {
    opacity: 1;
    .rotateX(0);
  }
}