.block-email {
  &__title {
    text-align: center;
    margin: 30px 30px 20px;
    @media (min-width: 700px) {
      max-width: 740px;
      margin: 40px auto 20px;
    }
    &__inner {
      font-size: 24px;
      font-family: Roboto, sans-serif;
      color: white;
      font-weight: 700;
      line-height: 1.4;
    }
  }

  &__form {
    margin-bottom: 60px;
    &__desc {
      text-align: center;
      margin: 30px 30px 20px;
      @media (min-width: 700px) {
        max-width: 400px;
        margin: 40px auto 20px;
      }
      &__inner {
        font-family: Lato, sans-serif;
        color: white;
        font-size: 16px;
        line-height: 1.4;
      }
    }
    &__control {
      max-width: 300px;
      margin: 40px auto 40px;

      &__input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 13px 20px;

        .error & {
          box-shadow: 0 0 0 5px red;
        }
      }
    }

    &__submit {
      text-align: center;
      &__btn {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        padding: 0 30px;
        border: 3px solid white;
        border-radius: 40px;
        color: #ffffff;
        text-transform: uppercase;
        background: transparent;
        line-height: 49px;
        display: block;
        margin: 0 auto;
        position: relative;
        .transition(color .3s ease);
        cursor: pointer;
        outline: none;

        span {

          position: relative;
          z-index: 1;
        }

        &:before {
          content: '';
          background: white;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          display: block;
          width: 0;
          height: 0;
          z-index: 0;
          border-radius: 40px;
          .transition(width ease .3s, height ease .3s);

        }
        &:hover {

          color: #fc302f;

          &:before {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  &__btn {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    &__link {
      font-size: 18px;
      .roboto();
      font-weight: 700;
      padding: 0 30px;

      border: 3px solid white;
      border-radius: 40px;
      color: rgb(255, 255, 255);

      text-transform: uppercase;
      background: transparent;
      line-height: 49px;

      display: inline-block;
      margin: 0 auto;

      position: relative;
      //overflow: hidden;

      .transition(color ease .3s);
      cursor: pointer;
      outline: none;

      span {

        position: relative;
        z-index: 1;
      }

      &:before {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        z-index: 0;
        border-radius: 40px;
        .transition(width ease .3s, height ease .3s);

      }
      &:hover {

        color: #fc302f;
        &:before {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
