
.block-card-finish {
  position: relative;
  box-sizing: border-box;
  padding: 15px 22px 10px;
  background: white;

  min-height: 350px;
  .transition(all ease .3s);

  @media (min-width: 375px) {
    min-height: 350px;
    padding: 15px 20px 10px;
  }

  @media (min-width: 375px) and (min-height: 559px) {
    min-height: 450px;
    padding: 25px 66px 10px;
  }

  @media (min-width: 375px) and (min-height: (609px + 10px + 55px + 10px)) {
    min-height: 500px;
    padding: 25px 66px 10px;
  }

  @media (min-width: 820px) {
    min-height: 486px;
    padding: 25px 66px 10px;
  }

  @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
    min-height: 546px;
    padding: 45px 66px 20px;
  }
  &__content {

  }

  &__title {
    text-align: center;
    font-size: 13px;
    .roboto();
    color: rgb(59, 61, 65);
    line-height: 1.3;
    margin: 0 3px 13px;
    display: none;
    //@media (min-width: 375px) and (min-height: 559px) {
    //  display: block;
    //}
    @media (min-width: 414px) and (min-height: (609px + 10px + 55px + 10px)) {
      display: block;
    }

    @media (min-width: 550px) {
      //width: 486px;
      margin: 0 auto 10px;
    }

    @media (min-width: 820px) {
      display: block;

      font-size: 16px;
      margin: 0 auto 17px;
      width: 500px;
      line-height: 1.2;
    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      margin: 0 auto 27px;
      line-height: 1.698;
    }
  }

  &__result {
    margin: 0 0 13px;
    background: #f53a41;
    padding: 15px 0;
    box-sizing: border-box;

    @media (min-width: 414px) {
      margin: 0 0 10px;
    }
    @media (min-width: 820px) {
      padding: 20px 22px;
      margin: 0 auto 20px;
      width: 600px;
      height: 312px;
    }

    &__head {
      .clearfix();
      &__logo {
        height: 50px;
        margin-left: 14px;
        margin-bottom: 30px;
        display: none;
        @media (min-width: 820px) {
          display: inline;
          height: 69px;
          margin-bottom: 0;
          margin-left: 14px;
        }
      }

      &__icons {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        @media (min-width: 820px) {
          float: right;
          margin-bottom: 0;
        }
        &__icon, &__delimiter {
          display: inline-block;
          vertical-align: middle;
        }

        &__delimiter {
          .lato();
          text-transform: uppercase;
          margin: 0 5px;
          color: #ffffff;
          font-weight: 700;
          line-height: 1;
          font-size: 16px;

          @media (min-width: 820px) {
            margin: 0 10px;
            font-size: 24px;

          }
        }

        &__icon {
          width: 35px;
          height: 35px;

          box-sizing: border-box;
          background: #2b1f1f;
          border: 1px solid #ffffff;
          box-shadow: 0 0 0 3px #2b1f1f;

          border-radius: 40px;
          display: inline-block;
          vertical-align: middle;

          position: relative;

          margin: 3px 10px 3px;

          &__img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;

            max-width: 15px;
            max-height: 15px;
          }

          @media (min-width: 820px) {
            width: 44px;
            height: 44px;
            &__img {

              max-width: 20px;
              max-height: 20px;
            }

          }
        }

        &__result {
          display: inline-block;
          vertical-align: middle;

          &__img {
            vertical-align: middle;
          }
        }
      }
    }

    &__content {
      text-align: center;
      margin: 0 10px;

      &__title {
        font-size: 54px/3;
        .lato();
        color: rgb(255, 255, 255);
        font-weight: 700;
        line-height: 1.148;
        margin-bottom: 10px;
      }

      &__text {
        font-size: 12px;
        .lato();
        color: rgb(53, 39, 39);
        line-height: 1.286;
        font-weight: 600;

      }
      @media (min-width: 375px) {

        //margin: 0 15px;
        //&__title {
        //  font-size: 54px/3;
        //}
        //
        //&__text {
        //  font-size: 28px/2;
        //
        //}
      }

      @media (min-width: 375px) and (min-height: (609px + 10px + 55px + 10px)) {
        margin: 0 15px;
        &__title {
          font-size: 54px/2;
        }

        &__text {
          font-size: 28px/2;

        }
      }

      @media (min-width: 820px) {
        width: 380px;
        margin: 0 auto;
        &__title {
          font-size: 54px/2;

        }

        &__text {
          font-size: 28px/2;

        }
      }

    }
  }

  &__share {
    text-align: center;



    &__text {
      .roboto();
      font-size: 12px;
      color: rgb(59, 61, 65);
      line-height: 1.698;
      vertical-align: middle;
      text-align: left;
      display: block;
      margin-bottom: 10px;
      @media (min-width: 375px) {
        font-size: 14px;
        margin-bottom: 15px;
      }
      @media (min-width: 414px) {
        margin: 0 0 10px;
      }
      @media (min-width: 820px) {
        margin-bottom: 0;
        display: inline-block;
        font-size: 16px;
        width: 400px;
      }
    }
    &__social {
      &__icon {
        width: 37px;
        height: 37px;
        border-radius: 30px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
        .transition(background ease .2s, box-shadow ease .2s);

        .block-btn-social__icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 22px;
          height: 22px;
          background-size: 22px*4 22px;
        }

        &:hover {
          background: #f53a41;
          cursor: pointer;
          box-shadow: inset 0 3px 10px rgba(0, 0, 0, .5);
        }
      }
    }
  }

}

.block-finish-result {
  text-align: center;
  margin-bottom: 10px;

  @media (min-width: 820px) {
    margin-bottom: 28px;
  }

  &__right, &__delimiter, &__all {
    display: inline;
    vertical-align: middle;

    img {
      vertical-align: middle;

      height: 57px;
      @media (min-width: 375px) {

      }

      @media (min-width: 375px) and (min-height: (609px + 10px + 55px + 10px)) {

        height: 77px;
      }
    }



  }
  &__right {
  }
  &__delimiter {
    margin: 0 10px;
    font-size: 36px;
    @media (min-width: 375px) {

    }

    @media (min-width: 375px) and (min-height: (609px + 10px + 55px + 10px)) {

      font-size: 56px;
    }
  }
  &__all {
  }
}