@import "./../mixin";
@import "./../assets/mixins";

.keyframes(mainShow, { 0% {
  .rotateY(0deg);
  .translate(0, 0);
} 25% {
    .rotateY(-10deg);
    .translate(10px, 0);

  } 50% {
      .rotateY(10deg);
      .translate(-10px, 0);
    } 75% {
        .rotateY(-5deg);
        .translate(5px, 0);
      } 100% {
          .rotateY(0deg);
          .translate(0, 0);
        } });

.keyframes(leftDisplay, { 0% {
  opacity: 0.5;
} 25% {
    opacity: 1;

  } 50% {
      opacity: 0;
    } 75% {
        opacity: .75;
      } 100% {
          opacity: .5;
        } });

.keyframes(rightDisplay, { 0% {
  opacity: 0.5;
} 25% {
    opacity: 0;

  } 50% {
      opacity: 1;
    } 75% {
        opacity: 0;
      } 100% {
          opacity: .5;
        } });

.block-card-main {
  position: relative;
  background: white;

  //.animation-name(mainShow);
  //.animation-duration(3s);
  //.animation-timing-function(ease);
  //.animation-fill-mode(both);
  //.animation-delay(1s);

  @media (min-width: 820px) {
  }

  @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
  }

  &__content {
    padding: 20px 0 15px;
    border: 1px solid #f3f4f4;
    border-bottom: 0;

    @media (min-width: 375px) {
      padding: 15px 0 5px;
    }

    @media (min-width: 375px) and (min-height: 559px) {
      padding: 39px 0 11px;
    }

    @media (min-width: 375px) and (min-height: (609px + 10px + 55px + 10px)) {
      padding: 39px 0 11px;
    }

    @media (min-width: 820px) {
      padding: 15px 0 5px;
    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      padding: 20px 0 15px;
    }
  }

  &__footer {
    background: #fc302f;
    text-align: center;
    padding: 27px 0 30px;
    box-shadow: 0 0 1px transparent;

    @media (min-width: 375px) {
      padding: 17px 0 15px;
    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      padding: 27px 0 30px;

    }

    &__btn {
      &__start {
        font-size: 18px;
        .roboto();
        font-weight: 700;
        padding: 0 30px;

        border: 3px solid white;
        border-radius: 40px;
        color: rgb(255, 255, 255);

        text-transform: uppercase;
        background: transparent;
        line-height: 49px;

        display: block;
        margin: 0 auto;

        position: relative;
        //overflow: hidden;

        .transition(color ease .3s);
        cursor: pointer;
        outline: none;

        span {

          position: relative;
          z-index: 1;
        }

        &:before {
          content: '';
          background: white;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          display: block;
          width: 0;
          height: 0;
          z-index: 0;
          border-radius: 40px;
          .transition(width ease .3s, height ease .3s);

        }
        &:hover {

          color: #fc302f;
          &:before {
            width: 100%;
            height: 100%;
          }
        }


        .block-card-finish__share{

        }
      }
    }
  }

  &__logo {
    text-align: center;
    margin-bottom: 10px;
    &__img {
      width: 60px;
    }
    @media (min-width: 375px) {
      margin-bottom: 24px;
      &__img {
        width: 94px;
        height: 42px;
      }
    }

    @media (min-width: 820px) {
      margin-bottom: 15px;

    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      margin-bottom: 24px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 8px;
    @media (min-width: 375px) {
      margin-bottom: 18px;
    }
    &__heading {
      font-size: 16px;
      color: rgb(28, 18, 18);
      line-height: 1.698;
    }

    @media (min-width: 820px) {
      margin-bottom: 8px;
    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      margin-bottom: 18px;
    }
  }

  &__or {
    position: relative;
    width: 100%;
    height: 200px;
    @media (min-width: 375px)and (min-height: 559px) {
      height: 240px;
    }
    @media (min-width: 820px) {
      height: 590px/2;

    }
  }
}

.block-main-or {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @media (min-width: 820px) {
    &:before {
      content: ' ';
      width: 0;
      display: inline-block;
      vertical-align: middle;
      height: 590px/2;
    }
  }
  &__name {

    font-size: 32px;
    .lato();
    color: rgb(245, 58, 64);
    font-weight: 700;
    line-height: 0.849;

    text-transform: lowercase;

    margin: 160px auto 0;
    display: block;
    text-align: center;
    @media (min-width: 375px)and (min-height: 559px) {
      margin: 200px auto 0;
    }
    @media (min-width: 820px) {
      display: inline-block;
      vertical-align: middle;
      margin: 0 60px;
      height: auto;
    }

    span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 804px/4;
    height: 590px/4;

    @media (min-width: 375px)and (min-height: 559px) {
      width: 804px/3;
      height: 590px/3;
    }

    @media (min-width: 820px) {
      vertical-align: middle;
      bottom: 0;
      width: 804px/2;
      height: 590px/2;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
  }

  &--is {
    &-left {
      opacity: .5;
      //.animation-name(leftDisplay);
      //.animation-duration(3s);
      //.animation-timing-function(ease);
      ////.animation-fill-mode(both);
      //.animation-delay(1s);

    }

    &-right {
      opacity: .5;
      //.animation-name(rightDisplay);
      //.animation-duration(3s);
      //.animation-timing-function(ease);
      //.animation-delay(1s);
      //.animation-fill-mode(both);
    }
    @media (min-width: 820px) {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }
    }
  }
}