.block-card-question {
  position: relative;
  box-sizing: border-box;
  background: white;

  .transition(all ease .3s);

  padding: 22px;
  @media (min-width: 820px) {
    padding: 66px;
  }

  min-height: (490px - 55px - 10px - 40px);

  @media (min-height: 559px) {
    min-height: 540px - 20px - 40px;
  }

  @media (min-width: 375px) and (min-height: (540px + 10px + 55px + 10px )) {
    min-height: 540px - 40px;
  }
  @media (min-width: 820px) {
    min-height: 540px - 40px;
  }

  @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
    min-height: 609px - 40px;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 0;

    &__img {
      max-height: 546px;
      position: absolute;
      right: 0;
      bottom: 0;

    }

  }

  &__number, &__task {
    position: relative;
    z-index: 1;
  }
  &__number {
    margin-bottom: 20px;
    @media (min-width: 820px) {
      margin-bottom: 40px;
    }
    &__img {
      //width: 387px;
      //height: 200px;

      height: 49px;
      @media (min-width: 820px) {
        height: 67px;
      }
    }
  }

  &__task {
    width: 237px;
    @media (min-width: 820px) {
      width: 310px;
    }
    &__title {
      font-size: 12px;
      .lato();
      color: rgb(53, 39, 39);
      font-weight: 700;
      line-height: 1.476;
      margin-bottom: 6px;
    }

    &__select{
      font-size: 14px;
      .lato();
      color: rgb(53, 39, 39);
      font-weight: 700;
      line-height: 1.476;
      margin-bottom: 6px;

      font-weight: 700;
    }
  }

  .show-answer & {
    .rotateX(-180deg);
    opacity: 0;
  }
}

@import "select-btns";
@import "answer";

.block-card-back-img {
  .stop-flickering();

  .block-card-question-1 & {
    height: 275px;
    bottom: 10px;
    right: -120px;
  }
  .block-card-question-2 & {
    width: 120%;
    bottom: 0;
    right: -10px;
  }
  .block-card-question-3 & {
    height: 275px;
    bottom: 10px;
    right: -75px;
  }
  .block-card-question-4 & {
    width: 100%;
  }
  .block-card-question-5 & {
    width: 100%;
    bottom: 4px;
    right: -20px;
  }
  @media (min-width: 375px) {
    .block-card-question-1 & {
      right: 0;
    }

    .block-card-question-2 & {
      right: 0;
    }

    .block-card-question-3 & {
      right: 0;
    }

    .block-card-question-5 & {
      right: 0;
    }
  }
  @media (min-width: 820px) {

    .block-card-question-1 & {
      height: 477px;
      bottom: 44px;
    }

    .block-card-question-2 & {
      height: 100%;
      width: auto;
    }

    .block-card-question-3 & {
      height: 498px;
      bottom: 22px;
    }

    .block-card-question-4 & {
      height: 100%;
      width: auto;
    }

    .block-card-question-5 & {
      height: 516px;
      bottom: 24px;
      width: auto;
    }
  }
}