.block-card-select {
  &__btn {
    position: relative;
    z-index: 1;

    background: transparent;
    outline: none;
    border: 0;

    padding: 0 5px;
    margin: 20px 30px 20px 0;

    text-align: left;
    cursor: pointer;

    overflow: visible !important;

    @media (min-width: 820px) {
      padding: 0 3px;
    }

    span {
      vertical-align: middle;
      display: inline-block;
    }

    &__icon {

      position: relative;
      z-index: 0;

      width: 60px;
      height: 60px;

      border-radius: 40px;
      box-sizing: border-box;
      background: #2b1f1f;
      border: 2px solid #ffffff;
      box-shadow: 0 0 0 5px #2b1f1f;
      margin: 0 0 0 0;

      .transition(all ease .1s);
      @media (min-width: 820px) {
        border: 1px solid #ffffff;
        box-shadow: 0 0 0 3px #2b1f1f;
        margin: 0 20px 0 0;
        width: 42px;
        height: 42px;
      }

      &__img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        vertical-align: middle;

        max-width: 25px;
        max-height: 21px;
        @media (min-width: 820px) {
          max-width: 20px;
          max-height: 16px;
        }
      }

    }

    &__text {
      font-size: 12px;
      .lato();
      color: rgb(53, 39, 39);
      font-weight: 700;
      line-height: 1.476;
      display: none !important;
      @media (min-width: 820px) {
        display: inline-block !important;
      }
    }

    &:hover & {
      &__icon {
        background-color: #d5d5d5;
        box-shadow: 0 0 0 3px #d5d5d5;
      }
    }
  }

}