@import "./mixin";
@import "./assets/mixins";

.block-cards {
  position: relative;
  &__list {
    position: relative;
    top: 0;
    left: 0;
    //height: auto;
    width: 700%;

    .stop-flickering();

    .transition(margin ease .4s);
    .clearfix();

    height: (490px - 55px - 10px);

    @media (min-height: 559px) {
      height: 540px - 20px;
    }

    @media (min-width: 375px) and (min-height: (540px + 10px + 55px + 10px)) {
      height: 540px;
    }

    @media (min-width: 820px) {
      height: 540px;
    }

    @media (min-width: 820px) and (min-height: (609px + 10px + 55px + 10px)) {
      height: 609px;
    }

    &__item {
      float: left;
      width: 100%/7;
      min-height: 1px;
      .perspective(1000px);
    }
  }



}

@import 'footer';

.block-card {
  .non-select();
  .roboto();
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 0 1px transparent;

  width: auto;
  margin: 20px 10px;
  @media (min-width: 550px) {
    width: 530px;
    margin: 0 auto;
  }
  @media (min-width: 820px) {
    width: 820px;
    margin: 20px auto;
  }
  &.animate {
    .transition(transform ease .3s, opacity ease .3s);
  }

  @degHide: 50deg;

  &.hide-right {
    //.translate3d(-200px, 0, 100px);
    //.rotateY(-1*@degHide);
    opacity: 0;
    z-index: -1;
  }

  &.hide-left {
    .translate3d(-200px, 0, -1000px);
    .rotateY(@degHide);
    opacity: 0;
    z-index: -1;
  }

  &__content {

  }

  &__btn{

  }

  &__footer {
  }
}

@import 'cards/main';
@import 'cards/questions';
@import 'cards/finish';
@import 'cards/email';