@import "assets/mixins";

.keyframes(shownav, { 0% {
  width: 0;
} 100% {
    width: 50%;
  } });

.keyframes(shownavcircle, { 0% {
  opacity: 0;
  .scale(0, 0);
  .translate(100px, -10px);
} 70% {
    .scale(1.2, 1.2);
    .translate(-5px, 0);
  } 100% {
      .scale(1, 1);
      .translate(0, 0);
      opacity: 1;
    } });

.keyframes(shownextbutton, { 0% {
  opacity: 0;
  height: 0;
} 50% {
    opacity: 0;
    height: 40px;
  } 100% {
      opacity: 1;
      height: 55px;
    } });

.keyframes(shownextbutton__btn, { 0% {
  .scale(0, 0);
} 100% {
    .scale(1, 1);
  } });

.block-cards__footer {
  position: relative;
  margin: 0 10px 30px;

  @media (min-width: 550px) {
    //height: 24px;
    width: 530px;
    margin: 0 auto 30px;
  }

  @media (min-width: 820px) {
    //.clearfix();
    width: 820px;
    margin: 0 auto 30px;
  }
  &__next {
    display: none;
    position: absolute;
    //width: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 1;

    width: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;

    .animation-name(shownextbutton);
    .animation-duration(.2s);
    .animation-fill-mode(both);
    .animation-timing-function(ease);

    &__btn {

      .animation-name(shownextbutton__btn);
      .animation-duration(.3s);
      .animation-fill-mode(initial);
      .animation-timing-function(ease);

      font-size: 18px;
      .roboto();
      font-weight: 700;
      padding: 0 30px;

      border: 3px solid white;
      border-radius: 40px;
      color: rgb(255, 255, 255);

      text-transform: uppercase;
      background: transparent;
      line-height: 49px;

      display: block;
      margin: 0 auto;

      position: relative;
      //overflow: hidden;

      .transition(color ease .3s, opacity ease .3s);
      cursor: pointer;
      outline: none;

      span {

        position: relative;
        z-index: 1;
      }

      &:before {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        z-index: 0;
        border-radius: 40px;
        .transition(width ease .3s, height ease .3s);

      }
      &:hover {

        color: #fc302f;
        &:before {
          width: 100%;
          height: 100%;
        }
      }

      &:disabled {
        cursor: default;
        opacity: 0;
        &:hover {

          color: white;
          &:before {
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
  &__nav {
    display: none;
    text-align: center;
    margin-bottom: 15px;
    @media (min-width: 550px) {
      margin-bottom: 0;
    }
    &__items {
      display: block;
      vertical-align: top;
      margin: 0 auto;
      width: (24px)*5;
      height: 24px;
      .clearfix();
      &__item {
        //display: inline-block;
        height: 24px;
        width: 24px;
        box-sizing: border-box;
        padding: (24px - 15px)/2;
        float: left;

        @time: .3s;

        .animation-name(shownavcircle);
        .animation-duration(@time);
        .animation-fill-mode(both);
        .animation-timing-function(ease);

        &:nth-child(2) {
          .animation-delay(@time*1/3)
        }

        &:nth-child(3) {
          .animation-delay(@time*2/3)
        }

        &:nth-child(4) {
          .animation-delay(@time*3/3)
        }

        &:nth-child(5) {
          .animation-delay(@time*4/3)
        }

        @media (min-width: 550px) {
          float: left;
        }
      }
    }
  }

  &__links {
    height: 24px;
    margin-bottom: 30px;
    text-align: center;
    .transition(all ease .3s);
    @media (min-width: 550px) {
      width: 400px;
      top: 0;
      bottom: 0;
      right: 50%;
      margin-right: -200px;
      position: absolute;
      margin-bottom: 0;
      //text-align: left;
      text-align: center;
    }

    &__link {
      margin: 0 15px;
      font-size: 16px;
      line-height: 24px;
      .roboto();
      color: rgb(255, 255, 255);
      display: inline-block;
      @media (min-width: 550px) {
        //margin: 0 0 0 30px;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &.show-nav & {
    &__next {
      display: block;
      top: -10px;
    }
    &__nav {
      display: block;
      //padding-top: 60px;
      padding-top: 5px;
      padding-bottom: 20px;

      @media (min-width: 550px) {
        display: inline-block;
      }
    }

    &__links {
      text-align: center;
      right: 0;
      margin-right: 0;
      padding-top: 0;

      @media (min-width: 550px) {
        text-align: right;
      }
    }
    @media (min-width: 550px) {
      &__next {
        top: 0;
      }

      &__nav,
      &__links {
        padding-top: 15px;

      }
    }

    @media (min-width: 820px) {
      &__next {
        top: 0;
      }

      &__nav,
      &__links {
        padding-top: 15px;
      }
    }
  }

  &.show-next &{
    &__nav{
      opacity: 0;
      @media (min-width: 550px) {
        opacity: 1;
      }
    }
  }
}

.block-nav-circle {
  width: 15px;
  height: 15px;
  background: #343235;
  border-radius: 15px;
  .transition(background ease .6s);

  &--is-current {
    background: #f74b51;
  }
  &--is-done {
    background: #ffffff;
  }
}