@import "mixin";
@import "social";

html, body {
  min-height: 100%;
  position: relative;
}

.block-rzhd {
  background: #3b3d41;
  //background: red;
  position: relative;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  //overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 0;

  &__head {
    .clearfix();

    @media (min-width: 550px) {
      width: 530px;
      margin: 20px auto;
    }
    @media (min-width: 820px) {
      width: 820px;
    }
    &__logo-rzhd, &__logo-ott, &__social {
      &:before {
        content: ' ';
        display: inline-block;
        width: 1px;
        height: 140px/2;
        vertical-align: middle;
      }
      float: left;
      width: 100%;
      @media (min-width: 550px) {
        width: 100%/3;
      }
      @media (min-width: 820px) {
      }

    }
    &__logo-rzhd {
      display: none;
      text-align: left;
      &__link {
        opacity: .1;
        .transition(opacity ease .2s);
        &__img {
          vertical-align: middle;
        }

        &:hover {
          opacity: .7;
        }

      }
    }

    &__logo-ott {
      text-align: center;
      &__link {
        &__img {
          width: 146px/2;
          height: 140px/2;
          vertical-align: middle;
        }
      }
    }

    &__social {
      display: none;
      text-align: center;

      &__icon {
        vertical-align: middle;
        width: 34px;
        height: 34px;
        border-radius: 30px;
        display: inline-block;
        background: #1c1313;
        opacity: .5;
        margin: 0 0 0 7px;
        .transition(opacity ease .2s, box-shadow ease .2s);
        .block-btn-social__icon {
          .transition(opacity ease .2s);
          opacity: .5;
          width: 21px;
          height: 21px;
          background-size: 21px*4 21px;
        }

        &:hover {
          opacity: 1;
          box-shadow: inset 0 3px 10px rgba(0, 0, 0, .5);
          .block-btn-social__icon {
            opacity: .7;
          }
        }

        @media (min-width: 820px) {
          width: 38px;
          height: 38px;
          opacity: .3;
          margin: 0 0 0 10px;
          .block-btn-social__icon {
            opacity: .5;
          }
        }
      }
    }

    @media (min-width: 550px) {
      &__logo-rzhd, &__social {
        display: inline-block;

      }
    }

    //@media (min-width: 820px) {
    //  &__logo-rzhd, &__social {
    //    display: inline-block;
    //
    //  }
    //}
  }
}

@import 'cards';
@import 'rules';

.block-card__overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: fade(#3b3d41, 95%);
  &__title {
    margin: 40px 20px 30px;
    text-align: center;

    @media (min-width: 450px) {

      margin: 80px 50px 40px;
    }
    &__inner {
      font-size: 24px;
      color: white;
      @media (min-width: 450px) {
        font-size: 36px;

      }
    }
  }

  &__text {
    margin: 0 auto 40px;
    max-width: 70%;
    text-align: center;
    &__inner {
      color: white;
      font-size: 16px;
    }
  }

  &__btns {
    text-align: center;
    button, a {
      margin: 10px;
      display: inline-block;
    }
  }
}
