@import './assets/mixins';

.keyframes(rules_back_show, { 0% {
  opacity: 0;
} 100% {
    opacity: 1;
  } });
.keyframes(rules_window_show, { 0% {
  opacity: 0;
  .translate(0, 200px);
} 100% {
    opacity: 1;
    .translate(0, 0);
  } });

.block-rules {

  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.open {
    display: block;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: 0;

    .animation-name(rules_back_show);
    .animation-duration(.3s);
    .animation-fill-mode(both);
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
    &__window {
      background: white;
      margin: 30px auto;
      max-width: 760px;
      position: relative;

      .animation-name(rules_window_show);
      .animation-duration(.3s);
      .animation-fill-mode(both);
      &__body {
        padding: 30px;

        .block-rules-close {
          position: absolute;
          top: 0;
          right: 0;

          font-size: 30px;
          font-weight: 800;
          //line-height: ;

          line-height: 18px;
          height: 30px;
          width: 30px;
          text-align: center;
          box-sizing: border-box;
          padding-top: 4px;
          padding-left: 1px;

          color: red;
          cursor: pointer;
          .transition(all .2s ease);
          &:hover {
            color: white;
            background: red;
          }
        }

        h2 {
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 20px;
          line-height: 1.2;
          color: #1c1212;
        }

        p {
          font-family: Roboto, sans-serif;
          color: #1c1212;
          margin-bottom: 16px;
          line-height: 1.6;
        }

        span.blue {
          color: blue;
        }

        a {
          color: blue;
          &:hover {
            text-decoration: underline;
          }
        }

        ul {
          list-style: decimal;
          margin-left: 17px;
          li {
            padding-left: 10px;
          }

          &.letter {
            list-style: lower-alpha;
          }

          &.rom {
            list-style: lower-roman;
          }


        }
      }
    }
  }
}
