.block-btn-social {
  display: block;

  width: 48px;
  height: 48px;
  position: relative;

  &__icon {

    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    background: transparent url(./../img/social.png) 0 0 no-repeat;
    background-size: 48px*4 48px;
  }

  &_fb {
    background-color: #45619d;
    .block-btn-social__icon {
      background-position: 0 0;
    }
  }

  &_vk {
    background-color: #56789c;
    .block-btn-social__icon {
      background-position: 100%/3 0;
    }

  }

  &_tw {
    background-color: #1da1f2;
    .block-btn-social__icon {
      background-position: 100%/3*2 0;
    }
  }

  &_od {
    background-color: orange;
    .block-btn-social__icon {
      background-position: 100%/3*3 0;
    }
  }
}