extends layout

include og

block head
  title Самолеты VS Поезда

  +opengraph_only_img_and_src(
  config.url,
  config.url + 'img/share/rzhd_share.jpg',
  1200, 627
  )


  link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css')

  link(rel="stylesheet", href="./css/assets/reset.min.css")
  link(rel="stylesheet", href="./css/index.css?_=" + Date.now())

block body
  .block-rzhd
    .block-rzhd__head
      //-.block-rzhd__head__logo-rzhd
        a(href="#").block-rzhd__head__logo-rzhd__link
          img(src="./img/logo-rzhd.png").block-rzhd__head__logo-rzhd__link__img
      .block-rzhd__head__logo-ott
        a(href="//onetwotrip.com", target="_blank").block-rzhd__head__logo-ott__link
          img(src="./img/logo-ott.png").block-rzhd__head__logo-ott__link__img
      .block-rzhd__head__social
        a(href="#", data-social="fb").block-rzhd__head__social__icon.block-btn-social.block-btn-social_fb
          span.block-btn-social__icon
        a(href="#", data-social="vk").block-rzhd__head__social__icon.block-btn-social.block-btn-social_vk
          span.block-btn-social__icon
        a(href="#", data-social="tw").block-rzhd__head__social__icon.block-btn-social.block-btn-social_tw
          span.block-btn-social__icon
        a(href="#", data-social="okUrl").block-rzhd__head__social__icon.block-btn-social.block-btn-social_od
          span.block-btn-social__icon
    .block-rzhd__content
      .block-rzhd__content__cards#block_cards
    .block-rzhd__footer
    .block-rzhd__modal#block_modal

  script(src="./js/assets/react.min.js")
  script(src="./js/assets/react-dom.min.js")
  script(src="./js/assets/jquery.min.js")
  script(src="./js/rzhd-competition.js?_=" + Date.now())

  script.
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
              }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-21448683-1', 'auto');
    ga('send', 'pageview');
