doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    block open_graph
    meta(http-equiv="refresh",content="1;URL="+config.url)


  body
