html
  head
    meta(charset="utf8")
    meta( name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block head

  body
    block body