- var default_title = 'Конкурс Самолет vs Поезд с OneTwoTrip! #onetwotrip_poezda';
- var default_text = 'Пройди интересный тест OneTwoTrip и получи бесплатный билет туда и обратно по РФ! Без призов никто не останется.';
- var default_site_name = 'Конкурс Самолет vs Поезд с OneTwoTrip';
- var default_url = config.url;


mixin opengraph(title, url, description, image, site_name, width, height)
  meta(property="og:title", content=title)
  meta(property="og:site_name", content=site_name)
  meta(property="og:url", content=url)
  meta(property="og:description", content=description)
  meta(property="og:image", content=image)
  meta(property="og:image:width", content=width)
  meta(property="og:image:height", content=height)
  meta(property="og:updated_time", content=Date.now())

mixin opengraph_only_img(image, width, height)
  - var default_title = 'Конкурс Самолет vs Поезд с OneTwoTrip! #onetwotrip_poezda';
  - var default_text = 'Пройди интересный тест OneTwoTrip и получи бесплатный билет туда и обратно по РФ! Без призов никто не останется.';
  - var default_site_name = 'Конкурс Самолет vs Поезд с OneTwoTrip';
  - var default_url = config.url;
  +opengraph(default_title, default_url, default_text, image, default_site_name, width, height)

mixin opengraph_only_img_and_src(src, image, width, height)
  - var default_title = 'Конкурс Самолет vs Поезд с OneTwoTrip! #onetwotrip_poezda';
  - var default_text = 'Пройди интересный тест OneTwoTrip и получи бесплатный билет туда и обратно по РФ! Без призов никто не останется.';
  - var default_site_name = 'Конкурс Самолет vs Поезд с OneTwoTrip';
  - var default_url = config.url;
  +opengraph(default_title, src, default_text, image, default_site_name, width, height)
